.head{
    text-align:start;
}
.cap{
    text-align:start;
    grid-area:cap;
}
.rightColumnContainer{
    grid-area:rc;
    text-align:start;
}
.imgContainer picture{
    margin: 10px;
}
.container Footer{
    text-align:start;
    grid-area:ft;
    margin-top:100px;
}
.rightColumnContainer button{
    margin-top:20px;
    margin-bottom:100px;
}
.AuthorInformation{
    display:grid;
    grid-template-columns: auto 1fr;
    gap:20px;
}
.Journey{
    text-align:start;
    max-width:600px;
}
.container{
    display: grid;
    grid-template-areas: 'cap ai ai ai ai ai ai ai ai ai ai ai'
                         'cap rc rc rc rc rc rc rc rc rc rc rc'
                         'cap ft ft ft ft ft ft ft ft ft ft ft';
                         column-gap:5px;
}
@media screen and (max-width:799px){
    .container{
        grid-template-areas: 'cap'
                             'ai'
                             'rc'
                             'ft';
    }
    .rightColumnContainer{
        text-align:center;
    }
    .container Footer{
        text-align:center;
    }
    .AuthorInformation{
        grid-template-columns:1fr;
        place-items:center;
        text-align:center;
    }
    .imgContainer{
        display:grid;
    }
}
